<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Crypto-JS Test App</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script type="text/javascript" src="js/crypto-js/src/core.js"></script>
    <script type="text/javascript" src="js/crypto-js/src/enc-base64.js"></script>
    <script type="text/javascript" src="js/crypto-js/src/hmac.js"></script>
    <script type="text/javascript" src="js/crypto-js/src/sha256.js"></script>
    <script type="text/javascript" src="js/jsApp/cryptojsApp/MyStrLib/StrLib.js"></script>
    <script type="text/javascript" src="js/jsApp/cryptojsApp/index.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='css/index.css'>
</head>
<body>
    
    <h1>Teste de lib crtpyo-js</h1>
    
    <p>
        <a href="https://cryptojs.gitbook.io/docs/" taget="_blank">Crypto-JS Doc</a>
    </p>


    <form name="cryptojsForm">
        <div><b>Security Info</b></div>
        <textarea name="jwtPayload" rows="7" cols="65">{
    rechageMobileNumber: 990684132,
    rechageMobileNumberAreaCode: 12,
    rechageServiceCarrier: <%= provider %>,
    rechageType: <%= TYPE %>,
}</textarea>
        <br />

        <div><b>JWT Result</b></div>
        <textarea name="jwtResult" rows="10" cols="65">
        </textarea>

        <input type="button" value="Anexar pela chave privada" onclick="signature()" />
        <input type="button" value="reiniciar" onclick="clear()" />

    </form>

</body>
</html>